@charset "UTF-8";
.home {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 20px;
  width: 375px;
  background-color: #333333;
  height: 531px;
}
.home h4 {
  margin-top: 75px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  font-family: "Archivo", sans-serif;
  color: white;
  letter-spacing: 2.8px;
}
.home h1 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}
.home .btn-take {
  height: 60px;
  width: 217px;
  background-color: #BEAD8E;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  margin-bottom: 24px;
}
.home .btn-learn {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  color: white;
  background-color: #333333;
  border: 2px solid rgba(255, 255, 255, 0.33);
  height: 60px;
  width: 217px;
}

.date .container {
  width: 375px;
  height: 354px;
  background-color: #222222;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.date .container p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.date .container #myDateInput {
  width: 200px;
  padding: 8px;
  border: none;
  border-bottom: 3px solid #bead8e;
  background-color: #222222;
  color: #bead8e;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.date .container #myDateInput::-webkit-calendar-picker-indicator {
  margin-right: 8px;
  filter: invert(1);
}
.date .container #myDateInput[type=date]::-moz-calendar-picker-indicator {
  margin-right: 8px;
  filter: invert(1);
}
.date button {
  background-color: #BEAD8E;
  margin-top: 42px;
  height: 60px;
  width: 250px;
  height: 60px;
  border-radius: 0px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  text-align: center;
  color: white;
}
.date div {
  height: 60px;
  background-color: white;
  width: 375px;
}

.about .container-1 {
  width: 375px;
  height: 610px;
  background-color: #F9F9F9;
}
.about .container-1 h4 {
  padding-top: 38px;
  padding-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
}
.about .container-1 h1 {
  padding-left: 20px;
  padding-top: 32px;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
}
.about .container-1 p {
  padding: 32px 20px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
.about .container-1 button {
  height: 60px;
  width: 217px;
  margin-left: 20px;
  background-color: #BEAD8E;
  border: none;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  margin-bottom: 24px;
}
.about .container-2 {
  width: 375px;
  margin-top: -100px;
}
.about .container-2 .wrapper-1 {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
  justify-content: center;
}
.about .container-2 .wrapper-1 img {
  height: 300px;
  width: 270px;
}
.about .container-2 .wrapper-1 div {
  height: 300px;
  width: 270px;
}
.about .container-2 .wrapper-1 div .v-1 {
  height: 49.9198303223px;
  width: 68px;
  margin-top: 54px;
  margin-left: 101px;
  position: absolute;
}
.about .container-2 .wrapper-1 div .v-2 {
  height: 105.8300323486px;
  width: 144px;
  margin-top: 50px;
  margin-left: 126px;
}
.about .container-2 .wrapper-1 h2 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: center;
  margin-top: -30px;
}
.about .container-2 .wrapper-1 p {
  width: 199.5px;
  margin-left: 30px;
  margin-top: 21px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.about .container-2 .wrapper-2 {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
  justify-content: center;
}
.about .container-2 .wrapper-2 img {
  height: 300px;
  width: 270px;
}
.about .container-2 .wrapper-2 div {
  height: 300px;
  width: 270px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .container-2 .wrapper-2 div img {
  height: 50px;
  width: 57px;
  border-radius: 0px;
}
.about .container-2 .wrapper-2 div h2 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
.about .container-2 .wrapper-2 div p {
  width: 200px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}

.rooms {
  width: 375px;
  height: 610px;
}
.rooms h4 {
  padding-top: 38px;
  padding-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: center;
  color: #777777;
}
.rooms h1 {
  padding-left: 20px;
  padding-top: 32px;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: center;
}
.rooms .slider {
  height: 244px;
  width: 375px;
  left: 0px;
  top: 3061px;
  border-radius: 0px;
  background-color: gray;
}
.rooms .price {
  height: 225px;
  width: 375px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rooms .price div {
  height: 215px;
  width: 335px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}
.rooms .price div h2 {
  margin-top: 19px;
  font-family: "Old Standard TT", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2000000477px;
  text-align: center;
}
.rooms .price div p {
  margin-top: 12px;
  margin-left: 24px;
  height: 100px;
  width: 287px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #777777;
}
.rooms .price div div {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rooms .price div .precio {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: #BEAD8E;
}
.rooms .price div .noche {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: #BEAD8E;
}

.video .container {
  margin-top: 100px;
  height: 876px;
  width: 375px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
}
.video .container h3 {
  margin-top: 64px;
  margin-left: 24px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #BDAC8D;
}
.video .container h1 {
  margin-left: 20px;
  margin-top: 32px;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
  color: #FFFFFF;
  height: 180px;
  width: 335px;
  left: 20px;
  top: 111px;
}
.video .container p {
  margin-top: 16px;
  margin-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #C2C2C2;
}
.video .container div {
  height: 270px;
  width: 335px;
  margin-left: 20px;
  margin-top: 32px;
  border-radius: 0px;
  background-color: #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video .container button {
  height: 60px;
  width: 217px;
  margin-left: 20px;
  margin-top: 36px;
  background-color: #BEAD8E;
  border: none;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  margin-bottom: 24px;
}

.facilities {
  width: 375px;
}
.facilities h4 {
  padding-top: 38px;
  padding-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: center;
  color: #777777;
}
.facilities h2 {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: center;
}
.facilities .container-cards {
  height: 370px;
  width: 375px;
  background-color: white;
  margin-top: 32px;
  display: flex;
}
.facilities .container-cards .container-img {
  display: flex;
  flex-direction: row;
}
.facilities .container-cards .container-img .icon-1 {
  margin-top: 81px;
  margin-left: 38px;
}
.facilities .container-cards .container-img .number-1 {
  height: 130px;
  width: 143px;
  margin-left: 100px;
}
.facilities .container-cards h3 {
  margin-left: 38px;
  margin-top: 37px;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: left;
}
.facilities .container-cards p {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
  height: 79.8000030518px;
  width: 250px;
  margin-left: 38px;
  margin-top: 28px;
}
.facilities .dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 375px;
}
.facilities .dots span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #EDEDED;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.facilities .dots span.active {
  background-color: #BEAD8E;
}

.menu {
  width: 375px;
  height: 758px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.menu img {
  display: flex;
  margin-left: 240px;
}
.menu h4 {
  margin-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
}
.menu h1 {
  margin-left: 20px;
  margin-top: 24px;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
  color: #222222;
}
.menu .conteiner1 {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  height: 350px;
  width: 375px;
  margin-left: 20px;
}
.menu .conteiner1 .imagenes img {
  margin: 20px;
  margin-left: 0;
  height: 120px;
  width: 120px;
  background-color: gray;
}
.menu .conteiner1 .text {
  margin: 20px;
}
.menu .conteiner1 .text h3 {
  margin-bottom: 12px;
  font-family: "Old Standard TT", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.7200000286px;
  text-align: left;
}
.menu .conteiner1 .text p {
  margin-bottom: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  height: 72px;
  width: 185px;
}
.menu .btn {
  width: 375px;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 60px;
}
.menu .btn .btn-1 {
  height: 36px;
  width: 36px;
  margin-top: 30px;
  margin-right: 16px;
  border: none;
}
.menu .btn .btn-2 {
  background-color: #BEAD8E;
  height: 36px;
  width: 36px;
  margin-top: 30px;
  margin-right: 16px;
  border: none;
  color: white;
}

.imagen {
  display: flex;
  width: 375px;
  align-items: center;
  justify-content: center;
}
.imagen .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 335px;
  width: 335px;
  margin-top: 100px;
  background-color: #EDEDED;
}

.proyects {
  height: 1020px;
  width: 375px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background-color: #222222;
  margin-top: 60px;
}
.proyects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proyects .container img {
  margin-top: 48px;
  height: 80px;
  width: 78px;
}
.proyects .container h1 {
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 136.4%;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}
.proyects .container p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #999999;
}

footer {
  background: url(../../Img/Rectángulo\ 2\ 1.png);
  height: 1187px;
  width: 375px;
  margin-top: 60px;
  display: flex;
}
footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: left;
}
footer .container .logo {
  display: flex;
  margin-left: -80px;
}
footer .container .logo img {
  margin-top: 32px;
}
footer .container p {
  margin-left: 20px;
  font-family: "Archivo", sans-serif;
  width: 335px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
footer .RRSS {
  margin-top: 40px;
}
footer .RRSS ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
}
footer .RRSS ul li {
  padding: 5px;
}
footer .RRSS ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: x-large;
  color: #777777;
}
footer .services {
  margin-top: 32px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 365px;
  flex-wrap: wrap;
}
footer .services h4 {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #222222;
}
footer .services .list {
  display: flex;
  flex-direction: row;
}
footer .services ul {
  margin-top: 24px;
  width: 50%;
}
footer .services ul li {
  font-family: "Roboto", sans-serif;
  list-style: none;
  left: 0;
  top: 48px;
  border-radius: 0;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
footer .contactUs {
  width: 375px;
  margin-left: 20px;
}
footer .contactUs h4 {
  justify-content: left;
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #222222;
}
footer .contactUs .phone-number {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
footer .contactUs .phone-number i {
  font-size: 40px;
  color: #c4b69b;
}
footer .contactUs .phone-number div {
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
}
footer .contactUs .phone-number div p {
  margin-left: 0;
  font-family: "Old Standard TT";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}
footer .contactUs .phone-number div span {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
footer .copywrite {
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 94px;
  width: 375px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  white-space: break-spaces;
}
footer .copywrite span {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  margin-top: 12px;
  margin-left: 20px;
}/*# sourceMappingURL=home.css.map */