@import "../../variables";

.video{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    .video_container{
        height: 186px;
        width: 335px;
    }
    p{
        margin: 6% 3%;
        font-family: "Old Standard TT";
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -1.159999966621399px;
        text-align: center;
    }
    .iconos{
        width: 375px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .cajas{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 40%;
            height: 158px;
            width: 158px;
            flex-wrap: wrap;
            padding: 10px;
            img{
                height: 50.560001373291016px;
                width: 58.460044860839844px;
            }
            i{
                font-size: 50px;
            }
            p{
                font-family: $font_button;
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                letter-spacing: 2.4000000953674316px;
                text-align: center;
                color: #222222;
            }
        }
        .cajas:hover{
            background-color: #BEAD8E;
            transition: 1s ease;
            img {
                filter: brightness(02);
              }
            i{
                    filter: brightness(02);
            }
            p{
                color: #FFFFFF;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .video{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        .video_container{
            height: 500px;
            width: 100%;
        }
        .videoYoutube{
            width: 100%;
            height: 100%;
        }
        p{
            width: 70%;
            max-width: none;
            font-size: 72px;
            line-height: 89px;
            letter-spacing: -2.16px;
            margin: 60px auto;
            margin-bottom: 40px;
        }
        .iconos{
            width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: none;
            .cajas{
                height: 300px;
                flex-direction: column;
            }
        }
    }
}