@import "../../variables";



@mixin wrapper{
    display: flex;
    flex-direction: column;
    width: 375px;
    align-items: center;
    justify-content: center;
}



@mixin div{
    height: 300px;
    width: 270px;
}

@mixin titulo_block{
    padding-top: 38px;
    padding-left: 20px;
    font-family: $font_button;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.799999952316284px;
    text-align: left;
    color: #777777;
}

.about{
    display: flex;
    .about-container-1{
        width: 375px;
        height: 610px;
        background-color: #F9F9F9;
        h4{
            @include titulo_block;
        }
        h1{
            padding-left: 20px;
            padding-top: 32px;
            font-family: $font-titulo;
            font-size: 56px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: -1.2000000476837158px;
            text-align: left;
        }
        p{
            @include parrafo_gris;
        }
        button{
            @include button;
            margin-left: 20px;
            border: none;
            }
    }

    .about-container-2{
        width: 375px;
        margin-top: -100px;
        .wrapper-1{
            @include wrapper;
            flex-direction: column-reverse;
            img{
                @include img;
            }
            div{
                @include div;
                .v-1{
                    height: 49.919830322265625px;
                    width: 68px;
                    margin-top: 54px;
                    margin-left: 101px;
                    position: absolute;
                }
                .v-2{
                    height: 105.83003234863281px;
                    width: 144px;
                    margin-top: 50px;
                    margin-left: 126px;
                }
            }
            h2{
                font-family: $font-titulo;
                font-size: 30px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: -0.8999999761581421px;
                text-align: center;
                margin-top: -30px;
            }
            p{
                width: 199.5px;
                margin-left: 30px;
                margin-top: 21px;
                padding-left: 20px;
                font-family: $font_descripcion;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: center;

            }
        }
        .wrapper-2{
            @include wrapper;
            img{
                @include img;
            }
            div{
                @include div;
                background-color: $color_black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    height: 50px;
                    width: 57px;
                    border-radius: 0px;
                }
                h2{
                    font-family: $font-titulo;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: -0.8999999761581421px;
                    text-align: center;
                    color: #ffffff;
                    margin-top: 30px;
                }
                p{
                    width: 200px;
                    margin-top: 30px;
                    font-family: $font_descripcion;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
    }
}

// VERSION DESKTOP
@media screen and (min-width: 768px) {
    .about{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        
        .about-container-1{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 152px;
        }

        .about-container-2{
            display: flex;
            flex-direction: row;
            padding: 20px;
            margin-top: 100px;
            .wrapper-2{
                flex-direction: column;
            }
        }
    }
}