.about {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about .about-container-1 {
  width: 100%;
  height: 610px;
  background-color: #F9F9F9;
}
.about .about-container-1 h4 {
  padding-top: 38px;
  padding-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
}
.about .about-container-1 h1 {
  padding-left: 20px;
  padding-top: 32px;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
}
.about .about-container-1 p {
  padding: 32px 20px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
.about .about-container-1 button {
  height: 60px;
  width: 217px;
  background-color: #BEAD8E;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  margin-bottom: 24px;
  margin-left: 20px;
  border: none;
}
.about .about-container-1 button a {
  color: white;
  text-decoration: none;
}
.about .about-container-2 {
  width: 100%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
}
.about .about-container-2 .wrapper-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.about .about-container-2 .wrapper-1 img {
  width: 100%;
  height: 300px;
  width: 270px;
}
.about .about-container-2 .wrapper-1 div {
  height: 300px;
  width: 270px;
}
.about .about-container-2 .wrapper-1 div .v-1 {
  height: 49.9198303223px;
  width: 68px;
  margin-top: 54px;
  margin-left: 101px;
  position: absolute;
}
.about .about-container-2 .wrapper-1 div .v-2 {
  height: 105.8300323486px;
  width: 144px;
  margin-top: 50px;
  margin-left: 126px;
}
.about .about-container-2 .wrapper-1 h2 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: center;
  margin-top: -30px;
}
.about .about-container-2 .wrapper-1 p {
  width: 199.5px;
  margin-left: 30px;
  margin-top: 21px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.about .about-container-2 .wrapper-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  align-items: center;
  justify-content: center;
}
.about .about-container-2 .wrapper-2 img {
  height: 300px;
  width: 270px;
}
.about .about-container-2 .wrapper-2 div {
  height: 300px;
  width: 270px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .about-container-2 .wrapper-2 div img {
  height: 50px;
  width: 57px;
  border-radius: 0px;
}
.about .about-container-2 .wrapper-2 div h2 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
.about .about-container-2 .wrapper-2 div p {
  width: 200px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}
.about .about-container-2 .wrapper-2 div #imagen {
  height: 300px;
  width: 270px;
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .about .about-container-1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  .about .about-container-1 .wrapper {
    background-color: #F9F9F9;
    margin-right: 20%;
  }
  .about .about-container-2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 20px;
    margin-top: 50px;
  }
  .about .about-container-2 .wrapper-1 {
    display: flex;
    flex-direction: column;
  }
  .about .about-container-2 .wrapper-1 div {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 2%;
  }
  .about .about-container-2 .wrapper-1 div:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease;
  }
  .about .about-container-2 .wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .about-container-2 .wrapper-2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 50px;
  }
  .about .about-container-2 .wrapper-2 div:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease;
  }
}/*# sourceMappingURL=about.css.map */