@import "../../variables";

.menu{
    width: 375px;
    height: 758px;
    margin-top: 40px;
    
    flex-direction: column;

    img{
        display: flex;
        margin-left: 240px;
    }
    h4{
        @include titulo_block;

    }
    h1{
        @include titulo_big;
        text-align: left;
    }

    .conteiner1{
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: left;
        height: 350px;
        width: 375px;
        margin-left: 20px;

        .imagenes{
            img{
            margin: 20px;
            margin-left: 0;
            height: 120px;
            width: 120px;
            background-color: gray;
            }
        }
        .text{
            margin: 20px;
            h3{
                margin-bottom: 12px;
                font-family: 'Old Standard TT', serif;
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.7200000286102295px;
                text-align: left;

            }

            p{
                margin-bottom: 35px;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                height: 72px;
                width: 185px;
            }
        }
        
    }
    .btn{
        width: 375px;
        display: flex;
        align-items: end;
        justify-content: end;
        margin-top: 60px;
        

        .btn-1{
        height: 36px;
        width: 36px;
        margin-top: 30px;
        margin-right: 16px;
        border: none;
        }
        .btn-2{
            background-color: #BEAD8E;
            height: 36px;
            width: 36px;
            margin-top: 30px;
            margin-right: 16px;
            border: none;
            color: white;

        }
    }
    
}