.home__rooms {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 20px;
  width: 100%;
  background-color: #333333;
}
.home__rooms h4 {
  margin-top: 75px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  font-family: "Archivo", sans-serif;
  color: white;
  letter-spacing: 2.8px;
}
.home__rooms h1 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}
.home__rooms div {
  height: 49px;
  width: 186px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: right;
  margin-right: 0;
  margin-left: 42%;
}
.home__rooms span {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  white-space: break-spaces;
  color: #222222;
}
.home__rooms #seccion {
  color: #BEAD8E;
}

.rooms {
  width: 100%;
  margin-bottom: -60px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rooms .slider {
  height: 218px;
  width: 335px;
  left: 0px;
  top: 3061px;
  border-radius: 0px;
  background-color: #E9E9E9;
}
.rooms .slider img {
  height: 218px;
  width: 335px;
  border-radius: 0px;
}
.rooms .menu_iconos {
  display: flex;
  height: 40px;
  width: 256px;
  background-color: white;
  margin-top: -20px;
  margin-bottom: 30px;
  padding: 10px;
  justify-content: space-between;
}
.rooms .menu_iconos img {
  padding-right: 10px;
}
.rooms .price {
  height: 225px;
  width: 375px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rooms .price div {
  height: 215px;
  width: 335px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}
.rooms .price div h2 {
  margin-top: 19px;
  font-family: "Old Standard TT", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2000000477px;
  text-align: center;
}
.rooms .price div p {
  margin-top: 12px;
  margin-left: 24px;
  height: 100px;
  width: 287px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #777777;
}
.rooms .price div div {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rooms .price div .precio {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: #BEAD8E;
  font-size: 16px;
  line-height: 17.41px;
  margin-top: -30px;
}
.rooms .price div .noche {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: #BEAD8E;
  font-size: 16px;
  margin-top: -30px;
  color: #BDBDBD;
  white-space: break-spaces;
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .rooms_flex {
    display: flex;
    padding: 100px 5%;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .rooms_flex .rooms {
    width: 350px;
    margin: 0 20px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=rooms.css.map */