@import "../../variables";

.doble-bed{
    width: 375px;
    .doble-bed_container{
        width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        img{
            height: 162px;
            width: 335px;
            border-radius: 0px;
        }
        .precio{
            display: flex;
            flex-direction: column;
            translate: 80px -80px;
            div{
                display: flex;
                flex-direction: row;
            
                p{
                    @include precio;
                    font-size: 23px;
                    line-height: 25px;
                    text-align: right;
                    text-decoration-line: line-through;
                }
                span{
                    font-family: $font_button;
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 12px;
                    letter-spacing: 0px;
                    text-align: right;
                    text-decoration-line: line-through;
                    margin-top: 10px;
                    color: #BEAD8E;
                }
                #grande{
                    @include precio;
                    font-size: 30px;
                    color: #DE5777;
                    line-height: 33px;
                    text-align: right;
                    text-decoration: none;
                }
                #night{
                    font-family: $font_button;
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 12px;
                    letter-spacing: 0px;
                    text-align: right;
                    text-decoration: none;
                    margin-top: 17px;
                    color: #DE5777;
                }
            }
        }
        
    }
}
.amanities{
    width: 375px;
    h4{
        @include titulo_block;
    }
    h1{
        @include titulo_big;
        font-size: 40px;
        text-align: left;
    }
    p{
        @include parrafo_gris
    }
    div{
        display: flex;
        flex-direction: row;
        ul{
            margin-left: 20px;
            list-style: none;
            margin-top: 30px;
            margin-bottom: 20px;
            li{
                padding: 5px;
                span{
                    @include titulo_block;
                    font-weight: 500;
                    font-size: 15px;
                    letter-spacing: 0px;
                }
            }
        }
    }
    button{
        @include button;
        margin-left: 20px;
        border: none;
        }
}