.doble-bed {
  width: 375px;
}
.doble-bed .doble-bed_container {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.doble-bed .doble-bed_container img {
  height: 162px;
  width: 335px;
  border-radius: 0px;
}
.doble-bed .doble-bed_container .precio {
  display: flex;
  flex-direction: column;
  translate: 80px -80px;
}
.doble-bed .doble-bed_container .precio div {
  display: flex;
  flex-direction: row;
}
.doble-bed .doble-bed_container .precio div p {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: #BEAD8E;
  font-size: 23px;
  line-height: 25px;
  text-align: right;
  text-decoration-line: line-through;
}
.doble-bed .doble-bed_container .precio div span {
  font-family: "Archivo", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: right;
  text-decoration-line: line-through;
  margin-top: 10px;
  color: #BEAD8E;
}
.doble-bed .doble-bed_container .precio div #grande {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: #BEAD8E;
  font-size: 30px;
  color: #DE5777;
  line-height: 33px;
  text-align: right;
  text-decoration: none;
}
.doble-bed .doble-bed_container .precio div #night {
  font-family: "Archivo", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: right;
  text-decoration: none;
  margin-top: 17px;
  color: #DE5777;
}

.amanities {
  width: 375px;
}
.amanities h4 {
  padding-top: 38px;
  padding-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
}
.amanities h1 {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: center;
  font-size: 40px;
  text-align: left;
}
.amanities p {
  padding: 32px 20px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
.amanities div {
  display: flex;
  flex-direction: row;
}
.amanities div ul {
  margin-left: 20px;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 20px;
}
.amanities div ul li {
  padding: 5px;
}
.amanities div ul li span {
  padding-top: 38px;
  padding-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0px;
}
.amanities button {
  height: 60px;
  width: 217px;
  background-color: #BEAD8E;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  margin-bottom: 24px;
  margin-left: 20px;
  border: none;
}/*# sourceMappingURL=doble-bed.css.map */