.home{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 20px;
    width: 375px;
    background-color: #333333;
    height: 531px;

    h4{
        margin-top: 75px;
        
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        font-family: 'Archivo', sans-serif;
        color: white;
        letter-spacing: 2.8px;
    }

    h1{
        font-family: 'Old Standard TT', serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -1.2px;
        color: white;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .btn-take{
        height: 60px;
        width: 217px;
        background-color: #BEAD8E;
        color: white;
        font-family: 'Archivo', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 2.799999952316284px;
        margin-bottom: 24px;

    }

    .btn-learn{
        font-family: 'Archivo', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 2.799999952316284px;
        color: white;
        background-color: #333333;
        border: 2px solid rgba(255, 255, 255, 0.33);

        height: 60px;
        width: 217px;

    }
}
