

footer{
    background: url(../../Img/Rectángulo\ 2\ 1.png);
    height: auto;
    min-width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: left;
        .logo{
            display: flex;
            margin-left: -80px;
            img{
                margin-left: 40px;
                margin-top: 32px;
            }
        }
        p{
            margin-left: 20px;
            font-family: 'Archivo', sans-serif;
            width: 335px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
            color: #777777;
        }
    }

    .RRSS {

        margin-top: 40px;
        ul {
            
            list-style: none;
            
            display: flex;
            align-items: center;
            justify-content: left;
        
        li {
            
            padding: 5px;
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    font-size: x-large;
                    color: #777777;
                }
            }
        }
    }
    .services {
        margin-top: 32px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        min-width: 375px;
        flex-wrap: wrap;
        h4{
            font-family: "Old Standard TT";
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #222222;
        }
        .list{
            display: flex;
            flex-direction: row;
        }
        ul {
            margin-top: 24px;
            width: 50%;
            
            li {
                font-family: 'Roboto', sans-serif;
                list-style: none;
                left: 0;
                top: 48px;
                border-radius: 0;
                color: #777777;
                font-size: 16px;
                font-weight: 400;
                line-height: 48px;
                letter-spacing: 0px;
                text-align: left;
            }
        }
    }
    .contactUs{
        min-width: 375px;
        margin-left: 20px;
        
        h4{
            justify-content: left;
            font-family: "Old Standard TT";
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #222222;
        }
        .phone-number{
            display: flex;
            flex-direction: row;
            margin-top: 60px;
            i{
                font-size: 40px;
                color: #c4b69b;
                
            }
            div{
                flex-direction: column;
                margin-left: 20px;
                text-align: left;
                p{
                    margin-left: 0;
                    font-family: 'Old Standard TT';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #222222;
                }
                span{
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #777777;
                }
            }
        }
    }
    .copywrite{
        margin-top: 32px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 94px;
        min-width: 375px;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        white-space: break-spaces;
        
        span{
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: -0.47999998927116394px;
            text-align: left;
            margin-top: 12px;
            margin-left: 20px;
        
        }
    }
}

@media only screen and (min-width: 1000px) {
    footer{
        height: 700px;
        width: 100%;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        .container{
            
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        .container1{
            width: 33%;
        }
        .services{
            width: 33%;
        }
        .contactUs{
            width: 33%;
        }
        
    }
    .copywrite{
            width: 100%;
            flex-direction: row;
            justify-content: space-around; 
        }
    }
}