@import "../../variables";

.popular-room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_black;
    width: 375px;
    margin-top: 40px;
    h4{
        margin-top: 48px;
        font-family: $font_button;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 2.799999952316284px;
        text-align: left;
        color: #BDAC8D;
    }
    h1{
        @include titulo_big;
        color: white;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.8px;
    }

.rooms{
    width: 375px;
    height: 550px;
    margin-bottom: -60px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .slider{
        height: 218px;
        width: 335px;
        left: 0px;
        top: 3061px;
        border-radius: 0px;
        background-color: #E9E9E9;
    }
    .menu_iconos{
        display: flex;
        z-index: 1;
        height: 40px;
        width: 256px;
        background-color: white;
        margin-top: -20px;
        margin-bottom: 30px;
        padding: 10px;
        justify-content: space-between;
        img{
            padding-right: 10px;
        }
    }
    .price{
        margin-top: -35px;
        
        height: 225px;
        width: 375px;
        background-color: $color_black;
        display: flex;
        align-items: center;
        justify-content: center;
        
        div{
            height: 215px;
            width: 335px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            align-items: center;
            justify-content: center;
            margin-top: -40px;
            h2{
                margin-top: 50px;
                font-family: 'Old Standard TT', serif;
                font-size: 28px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: -1.2000000476837158px;
                text-align: center;
            }
            p{
                margin-top: 12px;
                margin-left: 24px;
                height: 100px;
                width: 287px;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: center;
                color: #777777;
            }
            div{
                margin-top: 12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .precio{
                @include precio;
                font-size: 16px;
                line-height:  17.41px;
                margin-top: -30px;
            }

            .noche{
                @include precio;
                font-size: 16px;
                margin-top: -30px;
                color: #BDBDBD;
                white-space: break-spaces;
            }
                
        }
    }
}
}