@import "../../variables";

.restaurant{
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
    max-width: 650px;
    margin: 0 auto;
    img{
        width: 100%;
        margin-bottom: 24px;
        
    }
    h4{
        @include titulo_block;
    }
    h1{
        @include titulo_big;
        text-align: left;
        font-size: 40px;
    }
    p{
        @include parrafo_gris;
    }
    button{
        @include button;
        border: none;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .restaurant{
        margin: 0 18%;
    margin-bottom: 40px;
    padding: 30px 5%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
        img{
            height: 700px;
            width: 50%;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 700px;
            width: 50%;
            h2{
                font-size: 48px;
            }
        }
    }
}