//VARIABLES 

//FONT
$font_button: 'Archivo', sans-serif;
$font-titulo: 'Old Standard TT', serif;
$font_descripcion: 'Roboto', sans-serif;

//COLOR

$color_main: #BEAD8E;
$color_black: #222222;
$color_gray: #777777;


//MIXIN

//TITULOS
@mixin titulo_block{
    padding-top: 38px;
    padding-left: 20px;
    font-family: $font_button;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.799999952316284px;
    text-align: left;
    color: #777777;
}

@mixin titulo_big{
    padding-left: 20px;
    padding-top: 20px;
    font-family: $font-titulo;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px;
    text-align: center;
}

//BUTTON
@mixin button{
        height: 60px;
        width: 217px;
        background-color: $color_main;
        color: white;
        font-family: $font_button;
        font-size: 14px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 2.799999952316284px;
        margin-bottom: 24px;
}

@mixin button_book_now{
            height: 60px;
            width: 217px;
            margin-left: 20px;
            margin-top: 36px;
            background-color:$color_main;
            border: none;
            color: white;
            font-family: $font_button;
            font-size: 14px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 2.799999952316284px;
            margin-bottom: 24px;
}


//ROOMS - PRECIO
@mixin precio{
    font-family: $font_button;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: center;
    color:$color_main;
}