@charset "UTF-8";
.header {
  margin: 0;
  width: 375px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}
.header .wrapper {
  margin: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .wrapper .left {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 50%;
  align-items: center;
  justify-content: center;
}
.header .wrapper .left .icon-hamburguesa {
  width: 15.56px;
  height: 15.56px;
  margin-left: 20px;
}
.header .wrapper .left .container-h {
  margin-left: 32px;
  background: #FFFFFF;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header .wrapper .left .logo {
  margin-left: 13px;
}
.header .wrapper .right {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 50%;
  align-items: center;
  justify-content: flex-end;
}
.header .wrapper .right img {
  margin-right: 15%;
}

footer {
  background: url(../../Img/Rectángulo\ 2\ 1.png);
  height: 1187px;
  width: 375px;
  margin-top: 60px;
  display: flex;
}
footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: left;
}
footer .container .logo {
  display: flex;
  margin-left: -80px;
}
footer .container .logo img {
  margin-top: 32px;
}
footer .container p {
  margin-left: 20px;
  font-family: "Archivo", sans-serif;
  width: 335px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
footer .RRSS {
  margin-top: 40px;
}
footer .RRSS ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
}
footer .RRSS ul li {
  padding: 5px;
}
footer .RRSS ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: x-large;
  color: #777777;
}
footer .services {
  margin-top: 32px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 365px;
  flex-wrap: wrap;
}
footer .services h4 {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #222222;
}
footer .services .list {
  display: flex;
  flex-direction: row;
}
footer .services ul {
  margin-top: 24px;
  width: 50%;
}
footer .services ul li {
  font-family: "Roboto", sans-serif;
  list-style: none;
  left: 0;
  top: 48px;
  border-radius: 0;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
footer .contactUs {
  width: 375px;
  margin-left: 20px;
}
footer .contactUs h4 {
  justify-content: left;
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #222222;
}
footer .contactUs .phone-number {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
footer .contactUs .phone-number i {
  font-size: 40px;
  color: #c4b69b;
}
footer .contactUs .phone-number div {
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
}
footer .contactUs .phone-number div p {
  margin-left: 0;
  font-family: "Old Standard TT";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}
footer .contactUs .phone-number div span {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
footer .copywrite {
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 94px;
  width: 375px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  white-space: break-spaces;
}
footer .copywrite span {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  margin-top: 12px;
  margin-left: 20px;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */