@import "../../variables";


.cancellation{
    width: 375px;
    display: flex;
    flex-direction: column;

    h1{
        @include titulo_big;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.9px;
            text-align: left;
    }
    .linea{
    border-bottom: 1px solid #F1F1F1;
    width: 335px;
    margin-left: 20px;
    }
    p{
        @include parrafo_gris;
            text-align: left;
            width: 317px;
            margin-top: -10px;
    }
}
